nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: lightblue;
}
nav a {
    background: green;
    width: 50%;
    height: 100%;
    color: #000;

    text-decoration: none;
    font-weight: bold;
}
ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
ul li {
    display: inline;
}

nav a.current-page {
    font-weight: normal;
}

a:active{
    background-color: rgba(9,51,121,1);
    color: white;

}